@import "~@angular/material/_theming";

header {
    height: 10%;
    background-color: aqua;
    @include mat-elevation(4);
    display: flex;
    justify-content: space-between;
    div {
        height: 100%;
        button {
            height: 100%;
        }
    }
}
.wideScreenNav {
    display: none;
}
.smallScreenNav {
    display: flex;
}
@media (min-width: 480px) {
    .wideScreenNav {
        display: flex;
    }
    .smallScreenNav {
        display: none;
    }
}