@import "~@angular/material/_theming";

header {
    height: 10%;
    background-color: aqua;
    @include mat-elevation(4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    div {
        height: 100%;
    }
    div.rightNav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}