<mat-card *ngIf="game" >
  <header>
    <div class="holeCol"
      [style.width]="getCellWidth() * 1.05" >
      <div>Holes</div>
      <div *ngFor="let teeBox of game.holes[0].tee_boxes"
        [style.background-color]="teeBox.tee_hex_color" >
        {{teeBox.tee_type}}(Yards)
      </div>
      <div>Par</div>
    </div>
    <div *ngFor="let hole of game.holes"
      class="holeCol"
      [style.width]="getCellWidth()" >
      <div>
        {{hole.hole_num}}
      </div>
      <div *ngFor="let teeBox of hole.tee_boxes" 
        [style.background-color]="teeBox.tee_hex_color" >
        {{teeBox.yards}}
      </div>
      <div>
        {{hole.tee_boxes[0].par}}
      </div>
    </div>
    <div class="holeCol" >
      <div></div>
      <div *ngFor="let teeBox of game.holes[0].tee_boxes" ></div>
      <div>total Score</div>
    </div>
  </header>
  <golf-player-row *ngFor="let player of players" [player]="player" ></golf-player-row>
</mat-card>
<button *ngIf="game"
  mat-raised-button
  color="primary"
  (click)="addPlayer()" >
  Add player
</button> 