<form [formGroup]='findCourseForm' >
  <mat-form-field>
    <input formControlName='zipcode'
          name='zipcode'
          type='number'
          placeholder='Zipcode'
          matInput
          [errorStateMatcher]='matcher'
          required >
    <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("range")' >
      5 digit zipcodes only
    </mat-error>
    <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("required")'>
      Zipcode is required
    </mat-error>
  </mat-form-field>
  <button mat-button
      matStepperNext
      color='primary'
      (click)='searchCourses()' >FIND COURSES</button>
</form>