<mat-horizontal-stepper linear>
  <mat-step label='Find Course' [stepControl]='findCourseForm' >
    <form [formGroup]='findCourseForm' >
      <mat-form-field>
        <input formControlName='zipcode'
              name='zipcode'
              type='number'
              placeholder='Zipcode'
              matInput
              [errorStateMatcher]='matcher'
              required >
        <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("range")' >
          5 digit zipcodes only
        </mat-error>
        <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("required")'>
          Zipcode is required
        </mat-error>
      </mat-form-field>
      <button mat-button
          matStepperNext
          color='primary'
          (click)='searchCourses()' >FIND COURSES</button>
    </form>
  </mat-step>
  <mat-step label='Choose Course' [stepControl]='chooseCourseForm' >
    <form [formGroup]='chooseCourseForm'>
      <button mat-button
              matStepperNext
              color='primary'
              (click)='selectCourse()' >CHOOSE COURSE</button>
    </form>
  </mat-step>
  <mat-step label='Choose Tee-Type' [stepControl]='selectTeeTypeForm' >
    <form [formGroup]='selectTeeTypeForm'>
      <button mat-button 
              color='primary'
              (click)='chooseTeeType()' >CHOOSE TEE-TYPE</button>
    </form>
  </mat-step>
  <mat-step label='Create Card' >
    <button mat-button
            color='primary'
            (click)='createCard()' >CREATE CARD</button>
  </mat-step>
</mat-horizontal-stepper>
