<mat-horizontal-stepper linear>
  <mat-step label='Find Course' [stepControl]='findCoursesForm' >
    <golf-find-course-form></golf-find-course-form>
    <button mat-button
          matStepperNext
          color='primary'
          (click)='searchCourses()' >FIND COURSES</button>
  </mat-step>
  <mat-step label='Choose Course' [stepControl]='chooseCourseForm' >
    <form [formGroup]='chooseCourseForm'>
      <button mat-button
              matStepperNext
              color='primary'
              (click)='selectCourse()' >CHOOSE COURSE</button>
    </form>
  </mat-step>
  <mat-step label='Choose Tee-Type' [stepControl]='selectTeeTypeForm' >
    <form [formGroup]='selectTeeTypeForm'>
      <button mat-button 
              color='primary'
              (click)='chooseTeeType()' >CHOOSE TEE-TYPE</button>
    </form>
  </mat-step>
  <mat-step label='Create Card' >
    <button mat-button
            color='primary'
            (click)='createCard()' >CREATE CARD</button>
  </mat-step>
</mat-horizontal-stepper>
