<mat-horizontal-stepper linear #stepper>
  <mat-step label='Find Course' [stepControl]='findCourseForm' >
    <form [formGroup]='findCourseForm' >
      <mat-form-field>
        <input formControlName='zipcode'
              name='zipcode'
              type='number'
              placeholder='Zipcode'
              matInput
              #zipcode
              [errorStateMatcher]='matcher'
              required >
        <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("range")' >
          5 Digit Zipcode Only
        </mat-error>
        <mat-error *ngIf='findCourseForm.controls.zipcode.hasError("required")'>
          Zipcode is Required
        </mat-error>
      </mat-form-field>
      <button mat-button
          color='primary'
          (click)='findLatAndLong(zipcode.value, stepper)' >FIND COURSES</button>
    </form>
  </mat-step>
  <mat-step label='Choose Course' [stepControl]='chooseCourseForm' >
    <form [formGroup]='chooseCourseForm'>
      <mat-form-field>
        <mat-select placeholder='Golf Course'
                  formControlName='course'
                  #course
                  [errorStateMatcher]='matcher'
                  required >
          <mat-option *ngFor='let course of golfCourseArray' [value]='course' >
            {{ course.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf='chooseCourseForm.controls.course.hasError("required")'>
          Golf Course is Required
        </mat-error>
      </mat-form-field>
      <button mat-button
              matStepperNext
              color='primary'
              (click)='selectCourse(course.value)' >CHOOSE COURSE</button>
    </form>
  </mat-step>
  <mat-step label='Choose Tee-Type' [stepControl]='selectTeeTypeForm' >
    <form [formGroup]='selectTeeTypeForm'>
      <button mat-button 
              color='primary'
              (click)='chooseTeeType()' >CHOOSE TEE-TYPE</button>
    </form>
  </mat-step>
  <mat-step label='Create Card' >
    <button mat-button
            color='primary'
            (click)='createCard()' >CREATE CARD</button>
  </mat-step>
</mat-horizontal-stepper>
